body{
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 14px;
}
.a1{
    background: #312f2f;
    padding-bottom: 8px;
}
.a2{
    margin-left: 200px;
}

th{
    color: darkgrey;
    border-style: solid;
    border-color: #312f2f;
    width:90px;
    padding-top: 8px;
}

.fab{
    color: darkgrey;
}

.fa-search{
    color: darkgrey;
}

.fa-shopping-bag{
    color: darkgrey;
}